{% set TITLE = 'index' %}
<div class="container">
	<h2>{{name}}</h2>
	{% include "../../../components/button.twig" %}
	{% include "../../../components/input.twig" %}
	{% include "../../../components/content.twig" %}
	{% include "../../../components/form.twig" %}
</div>
