$default-font-family: 'Onest', 'Roboto', Arial, sans-serif;
$additional-font-family: 'Onest', 'Roboto', Arial, sans-serif;

$font-base: 16;

// breakpoints
$mobile-xs: 320px;
$mobile-sm: 426px;
$mobile: 576px;
$mobile-xl: 640px;
$tablet-m: 743px;
$tablet: 992px;
$tablet-xl: 1180px;
$laptop: 1440px;
$desktop: 1920px;

// тональность задается через -100...
// прозрачность -o50 где число - это процент
// меньшее/без значение default, большее hover\active
:root {
    --light: #fff;
    --dark: #000;
    --accent: red;
    --primary: green;
    --error: #ff4747;

    --border: 0.0625rem solid var(--dark);

    --font-size-default: 16px;

    --mobile-xs: $mobile-xs;
    --mobile-sm: $mobile-sm;
    --mobile: $mobile;
    --mobile-xl: $mobile-xl;
    --tablet-m: $tablet-m;
    --tablet: $tablet;
    --tablet-xl: $tablet-xl;
    --laptop: $laptop;
    --desktop: $desktop;
}
