@use 'vars' as *;
@use 'reset' as *;
@use 'fonts' as *;

// uttils
@use './uttils/mixins' as *;
@use './uttils/functions' as *;

// TODO - в корне каталога создается индексный файл по примеру _nameCatalog-index.scss, в него экспортируются через @forward все вложенные scss файлы с указанием some/path/file. А уже в style.scss через @use закидывается индексный файл, который объединяет в себе все содержимое.
// pages
@use './pages/pages-index';
// _pages-index
//  |
//  @forward './about/about-page';
//  @forward './contact/contact-page';

// lib
// @use './lib/pages-index';

// // components
// @use './components/';

// // block
// @use './blocks/';

// // animations
// @use './animations/';

// TODO - создан _global.scss с экспортом трех часто используемых файлов, для использования @use 'some/path/global' as *; в новосозданных файлах.

html {
    font-size: 0.851vw;
    @media (max-width: 992px) {
        font-size: 16px;
    }
}

body {
    overflow-x: hidden;
    font-family: $default-font-family;
}

body.lock {
    overflow: hidden;
    touch-action: none;
}

.site {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    &-top {
        flex: 1 0 auto;
    }
    &-bottom {
        flex: 0 1 auto;
    }
}

.container {
    max-width: toRem(1440px);
    padding-inline: toRem(40px);
    min-width: toRem(320px);
    margin: 0 auto;
    @include MQmax(1440px) {
        max-width: toRem(1800px);
    }
    @include MQmax($tablet) {
        padding-inline: toRem(32px);
    }
    @include MQmax($mobile) {
        padding-inline: toRem(15px);
    }
}

.section-123 {
    height: 100vh;
    display: flex;
    align-items: center;
}
