{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 100,
    "proseWrap": "always",
    "plugins": ["@zackad/prettier-plugin-twig"],
    "overrides": [
        {
            "files": "*.twig",
            "options": {
                "tabWidth": 4,
                "twigSingleQuote": true
            }
        }
    ]
}
