<div class="guide-header"></div>
<div class="guide-color"></div>
<div class="guide-button"></div>
<div class="guide-card"></div>
<div class="guide-input"></div>
<div class="guide-content"></div>
<div class="guide-title"></div>
<div class="guide-footer"></div>
