{% extends "../layouts/default.twig" %}

{% set TITLE = 'Guide' %}

{% block content %}
	<main class="guide-page">
		{% include '../includes/sections/guide-page/guide-page.twig' %}
	</main>
{% endblock %}
