{% extends "../layouts/default.twig" %}

{% set TITLE = 'index' %}

{% block content %}
	<main class="index-page">
		{% include '../includes/sections/index-page/index.twig' %}
	</main>
{% endblock %}
