{% set text = 'value' %}
{% set type = 'button' %}
{% set class = '--default' %}
{# TODO - class['--default', ] #}
<div class="btn-wrap">
	<button class="btn {{class}}" type={{type}}>{{ text }}</button>
</div>
