<nav class="nav">
	<ul class="nav-list">
		{% for item in navTopLine %}
			<li class="nav-list__item">
				<a href="{% if item.href != 'test' %}{{ item.href }}{% endif %}" class="nav-list__link">
					{% if item.title != 'test' %}
						{{ item.title }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
