@use '../vars' as *;

@mixin text-line-camp($lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    line-clamp: $lines;
    box-orient: vertical;
}
@mixin MQmax($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}
@mixin MQmin($size) {
    @media screen and (min-width: #{$size + 1}) {
        @content;
    }
}
@mixin MQinside($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}
@mixin list-reset() {
    list-style: none;
    margin: 0;
    padding: 0;
}
