<section class="preview">
    <div class="preview-content">
        <h1>INDEX PAGE</h1>
        <code>
            это секция <b>preview section</b> ее нужно удалить. <br />Она находится в
            '/includes/sections/preview.twig'. <br /><br />Так же нужно почитать README.md в корне
            проекта.
        </code>
    </div>
</section>
