<section class="preview">
			<div class="preview-content">
				<h1>INDEX PAGE</h1>
				<code>это секция <b>preview section</b> ее нужно удалить. Она находится в '/includes/sections/preview.twig'</code>
			</div>
		</section>